<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="dropdown">
        <a class="nav-link" href="#">{{buttons/button-cancel}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">{{buttons/create-new}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="nav-link" href="#">{{buttons/button-save}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">{{buttons/create-new}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

{{yield}}
